body {
	background-color: rgb(35, 34, 34);
}

.home {
  /* display: flex; */

/* display: grid;
grid-template-columns: 1fr 2fr 1fr;
/* grid-template-rows: repeat(2, 1fr); */
/* grid-column-gap: 18px;
grid-row-gap: 10px; */
}


.home__tickets {
  position: fixed;
  display: flex;
  background-color: rgb(24, 23, 23);
  border: px solid rgb(72, 74, 72);
  flex-direction: column;
  margin-left: 60px;
  margin-top: 60px;
  width: 25%;
  height: 880px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

.home__tickets::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.ticketBodyBox {
  position: absolute;
  width: 600px;
  height: 100%;
  background-color: rgb(39, 38, 38);
  top: 0px;
  border: 2px solid rgb(67, 69, 67);
}


.box1 {
  position: absolute;
  width: 60px;
  height: 100vh;
  background-color: rgb(30, 27, 27);
  top: 0px;
}

.box2 {
  position: fixed;
  width: 1859px;
  height: 6.3%;
  background-color: rgb(51, 51, 237);
  margin-left: 60px;
  top: 0px;
}

.box3 {
  position: absolute;
  width: 1859px;
  height: 6.5%;
  background-color: rgb(51, 51, 237);
  margin-left: 60px;
  top: 0px;
  border: 2px solid rgb(67, 69, 67);
}

.usersList-Box1 {
  position: fixed;
  width: 290px;
  height: 55;
  top: 62px;
  border: 2px solid rgb(67, 69, 67);
  margin-left: 1610px;
}

.ticketBody {
  position: fixed;
  width: 1055px;
  height: 45.5%;
  margin-left: 545px;
  top: 62px;
  border: 2px solid rgb(67, 69, 67);
}

.chatBox {
  position: fixed;
  width: 1055px;
  height: 46%;
  margin-left: 545px;
  top: 500px;
  border: 2px solid rgb(67, 69, 67);
}

.usersContainer-box{
  position: fixed;
  width: 300px;
  height: 90%;
  margin-left: 1610px;
  top: 125px;
  border: 2px solid rgb(67, 69, 67);
}

/* .usersContainer-box-text {
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(83, 88, 225);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 95;
  font-weight: 400;
  border-radius: 5%;
} */

.usersContainer-box-text1 {
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: fixed;
  color: rgb(255, 255, 255);
  /* background-color: rgb(83, 88, 225); */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7;
  font-weight: 400;
  /* border-radius: 5%; */
}

.usersContainer-box-text2 {
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: fixed;
  color: rgb(255, 255, 255);
  /* background-color: rgb(83, 88, 225); */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 80px;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 145;
  font-weight: 400;
  /* border-radius: 5%; */
}

.text1 {
  position: fixed;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-left: 70px;
  padding: 5px;
  color: rgb(250, 250, 250);
  
}

.login-fade-in-image1 {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.clockTime {
  position: fixed;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding-top: 22px;
  margin-left: 1670px;
  height: 100px;
  width: 1000px;
  color: rgb(255, 0, 174);
}

.clock {
  position: fixed;
  padding-top: 21.5px;
  padding-left: 1790px;
  color: rgb(255, 75, 147);
  font-size: 11;
  font-weight: 500;
}

.signupPhoto {
  position: fixed;
  display: flex;
  align-items: center;
  margin-left: 1610px;
  width: 300px;
  height: auto;
  top: 712px;
}

.boxBackground {
	position: fixed;
	/* margin-left: 1px; */
	width: 60;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  /* top: 450; */
  /* opacity: 40%; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

/* html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
} */

