body {
    background-color: black;
}

div {
    border: 2px white;
    background-color: #0000b9;
    font-family: Digital-7, serif;
    font-size: 45px;
    border-radius: 8px;
    color: #d8d8d8;
    text-align: center;
    margin: auto;
    width: 200px;
}