.ticketDescription {
  /* background-color: rgb(14, 0, 0); */
  position: fixed;
  margin-left: 548px;
  padding-top: 70;
  height: 425;
  width: 1053;
  cursor: pointer;
  top: 65;
  /* grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3; */
 
}

.ticketDescription_heading_PL {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 10;
}

.ticketDescription_subject_PL {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 35;
}

.ticketDescription_heading_Issue {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 80;
}

.ticketDescription_subject_Issue {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 110;
}

.ticketDescription_heading_Tried {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 170;
}

.ticketDescription_subject_Tried {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 200;
}

.ticketDescription_heading_Expect{
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 260;
}

.ticketDescription_subject_Expect {
  position: absolute;
  color: white;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10;
  top: 300;
}


